body {
	background-image: url("/images/Birthday-icon.png");
	font-size: bolder;
}

.main{
	min-height: 80vh;
	margin-top: 10vh;
	background-color: #eeeeee;
	border-radius: 10px;
	box-shadow: 0 0 10px 10px;
}

.badge{
	cursor: pointer;
}
